body {
  background-color: #8e4f4f;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#mascot {
  position: fixed;
  width: 33%;
  margin-left: 5%;
}

.kingpin {
  height: 25%;
  margin-left: 45%;
  margin-right: 10%;
  margin-top: 4%;
  font-family: "Alata", sans-serif;
  font-size: 75px;
  text-align: center;
  letter-spacing: 50px;
  color: white;
}

.buttons {
  position: relative;
  left: 45%;
  top: 6%;
}

.button {
  background-size: contain;
  background-repeat: no-repeat;
  height: 8%;
  display: inline-block;
  margin-right: 3%;
}

#menu-button {
  width: 11%;
  background-image: url("../img/menu.png");
}

#our-story-button {
  width: 15%;
  background-image: url("../img/our_story.png");
}

#find-us-button {
  width: 12%;
  background-image: url("../img/find_us.png");
}

#menu-button:hover {
  background-image: url("../img/hover_menu.png");
}

#our-story-button:hover {
  background-image: url("../img/hover_our_story.png");
}

#find-us-button:hover {
  background-image: url("../img/hover_find_us.png");
}

.information {
  margin-left: 50%;
  margin-top: 4%;
  font-family: "Alata", sans-serif;
  color: white;
  font-size: 25px;
}

.icon {
  margin-right: 6%;
  height: 3%;
}

.navbar {
  position: relative;
  left: 63%;
  top: 1%;
}

.navbar_item {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 5%;
  display: inline-block;
  margin-right: 2%;
}

#menu-home-button {
  width: 6%;
  background-image: url("../img/menu_home.png");
}
#menu-menu-button {
  width: 6%;
  background-image: url("../img/menu_menu.png");
}

#menu-our-story-button {
  width: 9%;
  background-image: url("../img/menu_our_story.png");
}

#menu-find-us-button {
  width: 7%;
  background-image: url("../img/menu_find_us.png");
}

#menu-home-button:hover {
  background-image: url("../img/hover_menu_home.png");
}
#menu-menu-button:hover {
  background-image: url("../img/hover_menu_menu.png");
}
#menu-our-story-button:hover {
  background-image: url("../img/hover_menu_our_story.png");
}
#menu-find-us-button:hover {
  background-image: url("../img/hover_menu_find_us.png");
}

.menu_list {
  position: relative;
  left: 25%;
  top: 7%;
}

.menu_button {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20%;
  width: 10%;
  display: inline-block;
}

#regular-button {
  background-image: url("../img/regular.png");
}

#fancy-button {
  background-image: url("../img/fancy.png");
}

#xtra-fancy-button {
  background-image: url("../img/xtra_fancy.png");
}

#coffee-button {
  background-image: url("../img/coffee.png");
}

#cake-button {
  background-image: url("../img/cake.png");
}

#regular-button:hover {
  background-image: url("../img/hover_regular.png");
  cursor: pointer;
}

#fancy-button:hover {
  background-image: url("../img/hover_fancy.png");
  cursor: pointer;
}

#xtra-fancy-button:hover {
  background-image: url("../img/hover_xtra_fancy.png");
  cursor: pointer;
}

#coffee-button:hover {
  background-image: url("../img/hover_coffee.png");
  cursor: pointer;
}

#cake-button:hover {
  background-image: url("../img/hover_cake.png");
  cursor: pointer;
}

.menu-text {
  left: 20%;
}
.name {
  font-family: "Alata", sans-serif;
  color: white;
  font-size: 30px;
  line-height: 250%;
  text-shadow: #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 4px 3px 0px;
}

.left_name {
  position: fixed;
  margin-left: 12%;
}

.right_name {
  position: fixed;
  margin-left: 50%;
}

.left {
  position: fixed;
  margin-left: 25%;
}

.right {
  position: fixed;
  margin-left: 55%;
}

.desc {
  font-family: "Alata", sans-serif;
  color: white;
  font-size: 30px;
  line-height: 250%;
  text-align: right;
  display: inline-block;
}

.left_desc {
  float: left;
  margin-left: 24%;
}

.right_desc {
  position: relative;
  float: right;
  margin-right: 7%;
}

.price_line {
  font-family: "Alata", sans-serif;
  white-space: pre;
  font-size: 50px;
  color: #ffbaa4;
  margin-left: 29%;
  margin-top: 4%;
  height: 8%;
  text-shadow: #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 4px 3px 0px;
}

.coffee_price_line {
  font-family: "Alata", sans-serif;
  white-space: pre;
  font-size: 50px;
  color: #ffbaa4;
  margin-left: 20%;
  margin-top: 4%;
  height: 8%;
  text-shadow: #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 0px 0px 2px, #4c2323 0px 0px 2px, #4c2323 0px 0px 2px,
    #4c2323 4px 3px 0px;
}

.story {
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
  font-family: "Alata", sans-serif;
  font-size: 25px;
  color: white;
}

.coffee_left_desc {
  float: left;
  margin-left: 34%;
}